build/
notebooks/
hdspin.sublime*
.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb
*.o
*.out
results/
final_results/
*.pyc
test/
job_data/
old/
archive/
config.yaml
debug/
lib/Catch2_v3/build/
.DS_Store
compile_commands.json
.cache
